<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h2 class="text-white">{{teamName}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
  
      <p-table *ngIf="!roles" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <center>No roles given</center>
            </th>
          </tr>
        </ng-template>
      </p-table>

      <p-table *ngIf="roles" [value]="roles" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Roles</th>
            <th class="text-center">Action</th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-role let-i="rowIndex">
          <tr>
            <td class="text-center">{{i+1}}</td>
            <td class="text-center">
              {{role.name}}
            </td>
            <td class="text-center">
              <p-checkbox binary = "true" [(ngModel)]="role.isAllocated"></p-checkbox>
              <i class="fa fa-lock ml-5 text-primary" aria-hidden="true" (click)="getAllPermissions(role.id)"></i>
            </td>
          </tr>
        </ng-template>
  
      </p-table>
      <div class="mt-4">
        <span class="mr-4">
          <button pButton type="button" class="p-button p-button-help p-button-rounded"
                  label="Update Roles" (click)="updateTeamRoles()">
          </button>
        </span>
      </div>
    </div>
  </div>
  