<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h2 class="text-white">Forgot password?</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div *ngIf="active" class="card-body px-lg-5 py-lg-5">
          <form [formGroup]="Userform" (ngSubmit)="onSubmit()">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label" style="font-size:large">Email</label>
                <input type="text" id="input-username" class="form-control form-control-alternative"
                       placeholder="Enter your registered email address" value="" formControlName="email"
                       [ngClass]="{ 'is-invalid': submitted && Userform.controls.email.errors }">

                <div *ngIf="submitted &&  Userform.controls.email.errors" class="invalid-feedback">
                  <div *ngIf=" Userform.controls.email.errors.required">Email is required</div>
                  <div *ngIf=" Userform.controls.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
            </div>
            <div *ngIf="error">
              <p style="color:red">{{error.error.message}}</p>
            </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-primary mb-3" value="reset">Send Reset Password Email</button>
            </div>
          </form>
        
        </div>
        
      </div>
      <div *ngIf="!active">
        <div class="alert text-center" role="alert" style="background-color:ivory;color:brown">
          <strong style="text-align:center">Check Your Email For Further Steps</strong>
        </div>
      </div>
    </div>
  </div>
</div>
