<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h2 class="text-white">Welcome to property reviews!</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-7">
      <div class="card bg-secondary shadow border-0">

        <div class="card-body px-lg-5 py-lg-5">
          <i class="fas fa-check-circle mb-3" style="color:darkgreen; font-size: 50px; text-align: center; 
          width: 100%;"> </i>
          <div class="text-center mt-2 ml-2 mr-2 mb-5" role="alert">
            <h2 class="font-weight-bold" style="color:darkgreen"> 
                Password has been changed successfully</h2>
          </div>
          <div style="color:black" class="mt-5 text-center">
            Click here to
            <a [routerLink]="['/login']" style="color:blue">login</a>
            with new credentials.
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
