<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid text-center align-items-center">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10">
        <h1 *ngIf="user" class="display-2 text-white">{{user.name}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-md-11 order-md-2">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">User Details</h3>
            </div>
            <!--<div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>-->
          </div>
        </div>
        <div *ngIf="user" class="card-body">

          <h6 class="heading-small text-muted mb-4">User information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Name</label>
                  <span *ngIf="!editable" class="form-control form-control-alternative">{{user.name}}</span>
                  <input *ngIf="editable" type="text" id="input-username" class="form-control form-control-alternative" [(ngModel)]="user.name" placeholder="name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Email address</label>
                  <span class="form-control form-control-alternative">{{user.email}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-first-name">Gender</label>
                  <span class="form-control form-control-alternative">{{user.gender}}</span>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-role">Role</label>
                  <span class="form-control form-control-alternative">{{user.role}}</span>
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-last-name">Multi Factor Authentication method</label>
                  <span class="form-control form-control-alternative">{{user.mfaMethod}}</span>

                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">Contact information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-mobile">Mobile number</label>
                  <span class="form-control form-control-alternative">{{user.contactNo}}</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">Country</label>
                  <span class="form-control form-control-alternative">{{user.country}}</span>
                </div>
              </div>

            </div>
          </div>
          <hr class="my-4" />
          <!-- Description -->
          <h6 class="heading-small text-muted mb-4">Permissions</h6>
          <div class="pl-lg-4">
            <div class="form-group">
              <label class="mr-2" for="pwless">Passwordless login</label>
              <input id="pwless" type="checkbox" class="mr-8" [(ngModel)]="user.ispasswordLess" style="width:14px;height:inherit" />
              <label class="mr-2" for="mfa">Multi factor login</label>
              <input id="mfa" type="checkbox" class="mr-8" [(ngModel)]="user.isMFA" style="width:14px;height:inherit" />
              <label class="mr-2" for="loc">Check location on login</label>
              <input id="loc" type="checkbox" class="mr-8" [(ngModel)]="user.isDetectLocationOnLogin" style="width:14px;height:inherit" />
              <label class="mr-2" for="ntf">Notifications</label>
              <input id="ntf" type="checkbox" class="mr-8" [(ngModel)]="user.isNotifications" style="width:14px;height:inherit" />
            </div>
          </div>
          <div class="text-center">
            <button *ngIf='editable' pButton type="button" class="p-button p-button-help p-button-lg p-button-rounded" label="Update" (click)="updateUser()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
