<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h2 class="text-white">USER LIST</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Error" [(visible)]="displayError" [style]="{'width': '30vw'}" [baseZIndex]="10000">
  <p style="color: red;"><strong>{{error}}</strong></p>
</p-dialog>
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">

    <p-table *ngIf="users" [resizableColumns]="true" [value]="users" styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th style="width:20%">Name</th>
          <th style="width:10%">Gender</th>
          <th style="width:20%">Role</th>
          <th>isActive</th>
          <th style="width:20%">Added On</th>
          <th style="width:15%"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" class="text-center" let-user let-i="rowIndex">
        <tr>
          <td>
            {{i+1}}
          </td>
          <td *ngIf="!user.updatable" style="width:20%">
            <img src={{user.profilePictureUrl}} style="height:inherit; width:8%;" />
            {{user.name}}
          </td>
          <td *ngIf="user.updatable" style="width:20%">
            <input pInputText id="userName" class="p-inputtext-sm" [(ngModel)]="user.name"
                   placeholder="user name"/>
          </td>
          <td *ngIf="!user.updatable" style="width:20%">
            {{user.gender | titlecase}}
          </td>
          <td *ngIf="user.updatable" style="width:20%">
            <p-dropdown appendTo="body" [options]="genders" [(ngModel)]="user.gender" optionLabel="name"
                        optionValue="code">
            </p-dropdown>
          </td>
          <td *ngIf="!user.updatable" style="width:20%">
            {{user.role | titlecase}}
          </td>
          <td *ngIf="user.updatable" style="width:10%">
            <p-dropdown appendTo="body" [options]="userRoles" [(ngModel)]="user.role" optionLabel="name"
                        optionValue="code">
            </p-dropdown>
          </td>
          <td>
            {{user.status}}
          </td>
          <td style="width:20%">{{user.createdOn}}</td>
          <td *ngIf="!user.updatable" style="width:15%">
            <i class="fa fa-info-circle m-3 text-blue" (click)="userDetails(user.id)"></i>
            <i class="fas fa-edit m-3 text-info" aria-hidden="true" (click)="editUser(user.id)"></i>
            <i class="fas fa-trash-alt m-3 text-danger" aria-hidden="true" (click)="deleteUser(user.id)"></i>

          </td>
          <td *ngIf="user.updatable" style="width:15%">

            <i class="fas fa-save m-3 text-blue" aria-hidden="true" (click)="updateUser(user)"></i>
            <i class="fa fa-times m-3 text-danger" (click)="closeEditUser(user.id)"></i>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
