<div class="px-4">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="mb-5">Invite a member in your team</h3>

      <div>
        <label for="name" class="mr-3 font-weight-bold">Name: </label>
        <input pInputText id="name" class="p-inputtext mb-4" [(ngModel)]="createMember.name"
               placeholder="Member Name" />
      </div>
      <div>
        <label for="email" class="mr-3 font-weight-bold">Email<sup>*</sup>: </label>
        <input pInputText id="email" class="p-inputtext mb-4" [(ngModel)]="createMember.email"
               placeholder="Email i.e. xyz@abc.com" />
        <h4 *ngIf="validationError" class="text-center mt--4" style="color:red" >{{validationError}}</h4>
      </div>
      <div>
        <label class="mr-3 font-weight-bold">Role: </label>
        <p-dropdown appendTo="body" [options]="roles" [(ngModel)]="createMember.role" optionLabel="name"
                    optionValue="code">
        </p-dropdown>
        
      </div>
      <div>
        <button pButton type="button" class="p-button p-button-help p-button-rounded mt-4"
                label="Invite new member" (click)="addMember()">
        </button>
      </div>

    </div>
  </div>
</div>



